@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  --ff-primary: 'Overpass', sans-serif;

  --fs-heading-d: 1.75rem;
  --fs-heading-m: 1.5rem;
  --fs-heading: var(--fs-heading-d);
  --lh-heading-d: 2.2156rem;
  --lh-heading-m: 1.875rem;
  --lh-heading: var(--lh-heading-d);
  --fw-heading: 700;

  --fs-paragraph-d: .9375rem;
  --fs-paragraph-m: .875rem;
  --fs-paragraph: var(--fs-paragraph-d);

  --lh-paragraph-d: 1.5rem;
  --lh-paragraph-m: 1.375rem;
  --lh-paragraph: var(--lh-paragraph-d);
  --fw-paragraph: 400;

  --fs-rating: 1rem;

  --container-padding-d: 2rem;
  --container-padding-m: 1.5rem 1.5rem 2rem 1.5rem;
  --container-padding: var(--container-padding-d);

  --container-width-d: 25.75rem;
  --container-width-m: 20.4375rem;
  --container-width: var(--container-width-d);

  --border-radius: 1.4063rem;

  --round-container-wh-d: 3.1875rem;
  --round-container-wh-m: 2.625rem;
  --round-container-wh: var(--round-container-wh-d);
}

/* Box sizing rules */
/* Remove default margin */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

body {
  min-height: 100vh;
  /* for mobile screens */
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
}

h1 {
  font-size: var(--fs-heading);
  line-height: var(--lh-heading);
  font-weight: var(--fw-heading);
  color: var(--white);
}

p {
  font-size: var(--fs-paragraph);
  line-height: var(--lh-paragraph);
  font-weight: var(--fw-paragraph);
  color: var(--light-gray);
}

.rating-container {
  width: var(--container-width);
  background: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215, 20%, 17%) 0%, hsl(216, 24%, 12%) 100%);
  border-radius: 1.875rem;
  padding: var(--container-padding);
  margin-inline: 1.5rem;
}

.rating-container h1 {
  margin-block: 1.875rem .4375rem;
}

.rating-form {
  margin-block-start: 1.5rem;
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-block-end: 2rem;
}

.round-container {
  width: var(--round-container-wh);
  height: var(--round-container-wh);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--fs-rating);
  font-weight: var(--fw-heading);
  color: var(--light-gray);
  background-color: var(--dark-blue);
}

.rating-buttons .round-container {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:hover+label {
  background-color: var(--medium-gray);
  color: var(--white);
}


input[type="radio"]:checked+label {
  background-color: var(--orange);
  color: var(--white);
}


.button {
  width: 100%;
  background-color: var(--orange);
  border-radius: var(--border-radius);
  border: 0;
  font-weight: var(--fw-heading);
  font-size: var(--fs-paragraph);
  letter-spacing: .125rem;
  color: var(--white);
  text-transform: uppercase;
  padding-block: .875rem;
  cursor: pointer;
}

.button:hover {
  color: var(--orange);
  background-color: var(--white);
}

.thanks-container {
  text-align: center;
  animation: appear 1s ;

}
@keyframes appear {
  0% { opacity: 0; 
  transform: scale(0);
}
  100% { opacity: 1; 
    transform: scale(1);
  }
}
.rating-selected {
  width: fit-content;
  border-radius: var(--border-radius);
  background-color: var(--dark-blue);
  margin-block: 2rem;
  margin-inline: auto;
  padding: .25rem 1.25rem;
  color: var(--orange);
}


@media (max-width: 37.5rem) {
  :root {
    --fs-heading: var(--fs-heading-m);
    --lh-heading: var(--lh-heading-m);

    --fs-paragraph: var(--fs-paragraph-m);
    --lh-paragraph: var(--lh-paragraph-m);

    --fs-rating: var(--fs-paragraph-m);

    --container-padding: var(--container-padding-m);
    --container-width: var(--container-width-m);
    --round-container-wh: var(--round-container-wh-m);
  }

  .rating-container h1 {
    margin-block: 1rem 1.0625rem
  }

  .rating-buttons {
    margin-block-end: 1.5rem;
  }

  .thanks-container img {
    margin-block-start: .625rem;
    width: 9rem;
    height: 6rem;
  }

  .rating-selected {
    margin-block: 1.5rem;
  }

  .rating-container h1 {
    margin-block: 1.5rem .625rem;
  }
}
